<% provide(:title, "About") %>
<div class="well">
  <h1 id="coolify-title">About</h1>
  <p>
    Hello, and thanks for visiting! Poppin is my version of the Sample App from 
    Michael Hartl's
    <a href="http://www.railstutorial.org/" target="_blank"><em>Ruby on Rails
    Tutorial</em></a>. I created Poppin in March 2016 as a project for Robeen Dey's 
    <a href="https://codermanual.com/" target="_blank">Coder Manual</a> coding 
    bootcamp. I highly recommend these resources to anyone looking to learn 
    web development.
  </p>
  
  <p>
    Special thanks to
    <a href="https://warm-temple-79460.herokuapp.com/users/102">Sydney Barta</a>,
    <a href="https://warm-temple-79460.herokuapp.com/users/103">Gabriela</a>, and
    <a href="https://warm-temple-79460.herokuapp.com/users/104">ginna_rosie</a>
    for the theme idea.
  </p>
  <p>
    <i>
      Tyler Acosta is a Catholic, a 
      <a href="https://www.youtube.com/channel/UCoCUaN6pEJ5i09_zbhR8uYQ" target="_blank">musician</a>, 
      an aspiring web developer, 
      a homeschooler, and a tennis player in Springfield, Missouri.
    </i>
  </p>
</div>