<% provide(:title, "About") %>
<div class="well">
  <h1 id="coolify-title">About</h1>
  <p>
    Hello, and thanks for visiting! Poppin is my version of the Sample App from 
    Michael Hartl's
    <a href="http://www.railstutorial.org/" target="_blank"><em>Ruby on Rails
    Tutorial</em></a>. I created Poppin in March 2016 as a project for Robeen Dey's 
    <a href="https://codermanual.com/" target="_blank">Coder Manual</a> coding 
    bootcamp. I highly recommend these resources to anyone looking to learn 
    web development.
  </p>
  
  <p>
    There are a few rules I'd like you to follow to keep Poppin fun for everyone:
  </p>
  <ol>
    <li>No profanity</li>
    <li>No obscene profile images, language, etc.</li>
    <li>No spamming, trolling, etc.</li>
    <li>Above all, be nice to each other (please)</li>
  </ol>
  <p>
    If I see anything that could cause a disturbance of the peace, I'll give a 
    warning to the person(s) involved and do my best to try to solve the 
    problem. If the behavior continues, I may have to delete the problematic 
    Pops (or even the entire accounts involved). If it somehow persists after 
    that, I will send a note home to your parents and put you in the corner 
    for a time-out.
  </p>
  
  <p>
    Anyways, just don't Pop anything you wouldn't want Mom, the Pentagon, or 
    Jesus to see. Besides, all moms have mother's intuition (and can tell when 
    you're getting into trouble), the Pentagon is probably monitoring 
    your Pops right now, and Jesus is, well, omniscient (to say the least).
  </p>
  
  <p>
    Special thanks to users 
    <a href="https://warm-temple-79460.herokuapp.com/users/102">Sydney Barta</a>,
    <a href="https://warm-temple-79460.herokuapp.com/users/103">Gabriela</a>,
    <a href="https://warm-temple-79460.herokuapp.com/users/104">ginna_rosie</a>,
    and 
    <a href="https://warm-temple-79460.herokuapp.com/users/109">Joshua Newt</a>
    for their awesome theme ideas.
  </p>
  <p>
    <i>
      Tyler Acosta is a Catholic, a 
      <a href="https://www.youtube.com/channel/UCoCUaN6pEJ5i09_zbhR8uYQ" target="_blank">musician</a>, 
      an aspiring web developer, 
      a homeschooler, and a tennis player in Springfield, Missouri. He enjoys 
      popcorn, playing piano/melodica/keytar/anything that has keys, 
      rollerblading, and a lot of other things too. If you've logged in, you 
      can check out his Kernel 
      <a href="https://warm-temple-79460.herokuapp.com/users/101">here</a>.
    </i>
  </p>
</div>