<% provide(:title, 'Contact') %>
<div class="well">
  <h1 id="coolify-title">Contact</h1>
  <p>
    Send all your questions, comments, monies, etc. to Tyler Acosta at 
    <a href="mailto:tacos1998@gmail.com">tacos1998@gmail.com</a>.
  </p>
</div>