<% provide(:title, 'Contact') %>
<div class="well">
  <h1 id="coolify-title">Contact</h1>
  <p>
    Send all your questions, comments, suggestions, monies, etc. to Tyler Acosta at 
    <a href="mailto:tacos1998@gmail.com">tacos1998@gmail.com</a>.
  </p>
  
  <p>
    In addition to being a web developer. Tyler is also a 
    <a href="https://www.gigsalad.com/tyler_acosta_springfield" target="_blank">performing</a> 
    <a href="https://www.youtube.com/channel/UCoCUaN6pEJ5i09_zbhR8uYQ" target="_blank">musician</a>, 
    competitive tennis player, and rigorous scholar, who needs all the cash he 
    can get to save for college. Please contact him using the 
    above email address for gig/booking inquiries, 
    music lesson info (piano/recording software training), tennis lesson info, 
    racquet stringing services, tutoring, and any other work/performance 
    opportunities.
  </p>
</div>