<% provide(:title, "Help") %>
<div class="well">
  <h1 id="coolify-title">Help</h1>
  <h2>
    <a href="https://youtu.be/5kHQ0AhkDnU?t=6" target="_blank">(I need somebody!)</a>
  </h2>
  
  <h3>Welcome to Poppin!</h3>
  
  <p>
    Hello! This guide will show you the in's and out's of Poppin. Let's begin 
    by getting you familiar with the basic site layout.
  </p>
  
  <p>
    At the top of your screen is the <strong>Navbar</strong>. It contains the 
    stylish Poppin logo (click it to return home at any time), as well as links 
    to the <strong>Home</strong> and <strong>Help</strong> pages. If you haven't logged in, there will be a 
    <strong>Pop in</strong> link for you to do so. If you have logged in, there will be an 
    <strong>Account</strong> dropdown menu, with links to view your 
    <strong>Kernel</strong> (more on that later), edit your account 
    <strong>Settings</strong>, or log out (<strong>Pop out</strong>).
  </p>
  
  <p>
    At the bottom of your screen is the footer, which has 
    links to the <strong>About</strong>, <strong>contact</strong>, 
    and <strong>Other</strong> pages. There's also a shiny button, 
    I wonder what would happen if you clicked on it?...
  </p>
  
  <h3>Getting Started</h3>
  
  <p>
    Before you create an Poppin account, you should use <a href="https://en.gravatar.com/" target="_blank">Gravatar</a> 
    to link a profile picture with your email address. Simply create a Gravatar/Wordpress account with your email 
    (the same one you'll use for your Poppin account), check your inbox for an 
    activation link, click it, select an image, and you'll be ready to go.
  </p>
  
  <p>
    To create your account, visit 
    the <%= link_to "signup page", new_user_path, target: '_blank' %> and enter 
    a username, email, and password. Once you hit the submit button, you should recieve a new confirmation email that 
    contains your Poppin activation link. Check your inbox, click on the link in the email, and you'll be directed to 
    your Kernel.
  </p>
  
  <p>
    Your Kernel is your profile page. It displays your name, Gravatar, and all 
    of your Pops, along with a button at the top for people to Crunch or 
    Uncrunch you. This is what other users will see when they click on you. 
    Once you've logged in, you can view your Kernel by clicking the 
    "My Kernel" link in the navbar's Account dropdown menu (top right corner).
  </p>
  
  <p>
    Your Pop Box can be accessed by clicking the Poppin logo (top left corner) 
    or the "Home" link in the navbar once you've logged in. This is where you 
    can Pop and view a feed of Pops from yourself and from the users you're 
    crunching. Pops are limited to 200 characters.
  </p>
  
  <p>
    If you find a Pop from another user that you particularly enjoy, you 
    should Savor it! Just hit that Savor button and that Pop's Savor count will 
    increase.
  </p>
  
  <p>
    Everything else should be pretty self-explanatory. You kids are all 
    obsessed with your TwitBookStagrams these days, so I'm sure you already 
    know the drill.
  </p>

  <p>
    If you have any questions, comments, feedback, suggestions, or bugs to 
    report, please contact the admin at 
    <a href="mailto:tacos1998@gmail.com">tacos1998@gmail.com</a> for assistance.
  </p>
</div>