<% provide(:title, "Help") %>
<div class="well">
  <h1 id="coolify-title">Help</h1>
  <h2>
    <a href="https://youtu.be/5kHQ0AhkDnU?t=6" target="_blank">(I need somebody!)</a>
  </h2>
  
  <p>
    To get started with Poppin, visit 
    the <%= link_to "signup page", new_user_path %> 
    and create your account. You should recieve a confirmation email that 
    contains your activation link. Click on the link and you'll be directed to 
    your Kernel.
  </p>
  
  <p>
    Poppin uses <a href="https://en.gravatar.com/" target="_blank">Gravatar</a> to manage 
    profile pictures. Simply create a Gravatar account with your email 
    (the same one you use with Poppin), link an image, 
    and <i><strong>voila!</strong></i> 
    Poppin automagically updates your account with the picture!
  </p>
  
  <p>
    Your Kernel is your profile page. It displays your name, Gravatar, and all 
    of your Pops, along with a button at the top for people to Crunch or 
    Uncrunch you. This is what other users will see when they click on you. 
    Once you've logged in, you can view your Kernel by clicking the 
    "My Kernel" link in the navbar's Account dropdown menu (top right corner).
  </p>
  
  <p>
    Your Pop Box can be accessed by clicking the Poppin logo (top left corner) 
    or the "Home" link in the navbar once you've logged in. This is where you 
    can Pop and view a feed of Pops from yourself and from the users you're 
    Crunching.
  </p>
  
  <p>
    Everything else should be pretty self-explanatory. You kids are all 
    obsessed with your TwitBookStagrams these days, so I'm sure you already 
    know the deal.
  </p>

  <p>
    If you have any questions, comments, feedback, suggestions, or bugs to 
    report, please contact the admin at 
    <a href="mailto:tacos1998@gmail.com">tacos1998@gmail.com</a> for assistance.
  </p>
</div>