<% provide(:title, "Help") %>
<div class="well">
  <h1 id="coolify-title">Help</h1>
  <h2>
    <a href="https://youtu.be/5kHQ0AhkDnU?t=6" target="_blank">(I need somebody!)</a>
  </h2>

  <p>
    If you have any questions, comments, feedback, suggestions, or bugs to report, please contact the 
    admin at <a href="mailto:tacos1998@gmail.com">tacos1998@gmail.com</a> for assistance.
  </p>
</div>