<div class="participant-gravatars">
  <% conversation.participants.each do |participant| %>
    <% unless participant == current_user %>
      <% if conversation.participants.count == 2 %>
        <%= link_to gravatar_for(participant, size: 80), participant %>
      <% elsif conversation.participants.count == 3 %>
        <%= link_to gravatar_for(participant, size: 40), participant %>
      <% else %>
        <%= link_to gravatar_for(participant, size: 40), participant %>
      <% end %>
    <% end %>
  <% end %>
</div>