<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'uncrunch' %>
    <% else %>
      <%= render 'crunch' %>
    <% end %>
  </div>
<% end %>