<% provide(:title, 'The Popper') %>
<div>
  <h1>The Popper</h1>
  <h2>Find some kernels and crunch away.</h2>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>