<% provide(:title, 'The Popper') %>
<div class="well animated fadeIn">
  <h1 id="coolify-title" class="animated zoomInDown">The Popper</h1>
  <h2 class="animated bounceInLeft">Find some Kernels and crunch away. Napkins not included.</h2>
  <%= will_paginate %>
  <ul class="users animated bounceInRight">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>