<% provide(:title, 'The Popper') %>
<div class="well">
  <h1 id="coolify-title">The Popper</h1>
  <h2>Find some Kernels and crunch away. Napkins not included.</h2>
  <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>