<% if @feed_items.any? %>
  <ol class="microposts" id="refreshable">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items, id: "home-pagination" %>
<% else %>
  <h1>Well, this is awkward...</h1>
  <h2>There's nothing to display here. A couple suggestions:</h2>
  <h2>1. Use the textbox on this page to start Poppin</h2>
  <h2>2. Head over to <%= link_to "The Popper", users_path %> and Crunch some Kernels</h2>
<% end %>

<!--make feed refreshable -->
<script>
  setInterval( function() {
    $("#refreshable").load(location.href+" #refreshable>*", "");
  }, 30000);
</script>