<div class="btn-group now-playing">
  <button type="button" class="btn btn-xs btn-default dropdown-toggle" id="now-playing-btn" data-toggle="dropdown" data-target="#" aria-haspopup="true" aria-expanded="false">
    Now Playing
    <span class="caret"></span>
  </button>
  <div class="user_avatars_savor dropdown-menu dropdown-menu-form" aria-labelledby="dropdownMenu2">
    <% User.all.each do |user| %>
      <% if user.last_seen? && user.last_seen < 5.minutes.ago %>
        <%= link_to gravatar_for(user, size: 30), user %>
      <% end %>
    <% end %>
  </div>
</div>