<footer class="footer">
  <!--<small>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>-->
  <div class="center col-md-12">
    <ul class="list-inline">
      <li class="text-center"><%= link_to "About",   about_path %></li>
      <li class="text-center"><%= link_to "Contact", contact_path %></li>
      <li class="text-center"><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </div>
</footer>