<footer class="footer">
  <!--<small>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>-->
  <div class="center col-md-12">
    <ul class="list-inline">
      <li class="text-center"><%= link_to "About",   about_path %></li>
      <li class="text-center"><%= link_to "Contact", contact_path %></li>
      <li class="text-center"><a href="https://www.gigsalad.com/tyler_acosta_springfield" target="_blank">Other</a></li>
    </ul>
  </div>
  <div class="center">
    <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAkRtK7ia02PsmAko9JWjjjtrEVQ/OK6JZ/UGHoObl5ou40C+7pLmwMtQrgogc4EiROBO+nODhfhKv2E6h+Rc5H64wELw5YeRXnA289Vvih4VTt23/Zp03IDudjUrK6uYt4CH6jgnXVmno609ACtYtpYhphwRQ74KncCfBQlngg9jELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI1IR05KDVGgqAgZCQft/c9H9NgiYhq27w4i6WQ2MrKkXurQxY1YRIvnvDkdgrxvOFTghQxCnsfZqfogwvHHCFJrrcZJRc7YFU0lrbAmufwVjZDbiapdC7w2kJ8NYujoAlainw+XBKLT6eM0nYuarotT/ZM/AFV9HO4UOoNZh0uJLq9yaTPnSo/GP+pGkOt7ErTB1gLWQdVtJ/SS2gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjAzMjIxMjAzMTBaMCMGCSqGSIb3DQEJBDEWBBRIWcTVd/5Htltux8vfuCs4wHcFBDANBgkqhkiG9w0BAQEFAASBgImdfm7KB/k5ZOkVsvHyukc0QDXTbTQSWcmSUAV+dHC5Izpids3NGY8lnQKXa54oK1Mm/JYyOeIdMNaFiJOyj2nKVQ2ji7xwLUlcgAo7jqwgMSUCBtXJIG/ujUXD4Xo26oJucYRgdzzPCDxJPWsx6P92F3+Dl/xJduReK3IIcVoV-----END PKCS7-----
      ">
      <input type="image" id="donate" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</footer>